body {
    font-family: "Montserrat", sans-serif;
    width: 80%;
    margin: 0 auto;
    background-color: #FBFBFB;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.lead {
    font-size: 1.2rem;
}

.highlight {
    color: #BC7C7C;
    font-weight: 600;
}

#prashantSection {
    border-radius: 10px;
    background-color: #A6AEBF;
    padding: 15px;
    margin: 10px 0;
}

#hansSection { 
    border-radius: 10px;
    background-color: rgb(165, 43, 165);
    padding: 15px;
    margin: 15px 0;
}
#name{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
#jackSection {
    border-radius: 10px;
    background-color: #A6AEBF;
    padding: 15px;
    margin: 10px 0;
}

#ZZSection {
	border-radius: 10px;
	background-color: #57bae8;
	padding: 15px;
	margin: 10px 0;
}
